@import "tailwindcss";
@plugin "@tailwindcss/typography";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff; /* 网站主背景色 */
  --color-text: #333333; /* 正文颜色 */
  --color-primary: #0f172a; /* 主标题/重要按钮颜色 (深蓝灰) */
  --color-accent: #2563eb; /* 强调色/超链接悬停颜色 (亮蓝色) */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
